<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(defer src="main.js")
        title Trippy Color Swatch
    body
        .wrap
            button#copy Copy to Clipboard
            .box Trippy
            .box--other Color Swatch
            .pallet
                button.red
                button.green
                button.blue
                button.purple
                button.pink
                button.brown
                button.random.test.more ?
                